<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCV8UvXtmIO0QZJ8aHxiH_jKhRFESxazEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>646424487625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.co.panindaiichilife.quantumx360</string>
	<key>PROJECT_ID</key>
	<string>pdl-superapps-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>pdl-superapps-uat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646424487625:ios:3e72ec75ec39b7bf46cf18</string>
</dict>
</plist>